<section class="space-y-6 font-outfit text-colors-wenge-brown w-full">
    <img src="/fsadfasd/images/image-omelette.jpeg" class="w-full h-[175px] lg:h-[300px] lg:rounded-xl object-cover" alt="image">
    <h1 class="text-5xl font-bold font-young-serif text-colors-dark-charcoal px-6">Simple Omelette Recipe</h1>
    <p class="px-6">An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked 
        to perfection, optionally filled with your choice of cheese, vegetables, or meats.</p>
</section>
