<article class="m-6 p-12 bg-colors-rose-white rounded-lg space-y-6 font-outfit">
    <h2 class="font-bold text-colors-dark-raspberry text-xl">Preparation time</h2>
    <ul class=" list-disc pl-6 flex flex-col gap-6">
        <li class="text-colors-dark-charcoal pl-8 marker:text-colors-dark-raspberry"><span class="font-bold">Total: </span>Approximately 10 minutes</li>
        <li class="text-colors-dark-charcoal pl-8 marker:text-colors-dark-raspberry"><span class="font-bold">Preparation: </span>5 minutes</li>
        <li class="text-colors-dark-charcoal pl-8 marker:text-colors-dark-raspberry"><span class="font-bold">Cooking: </span>5 minutes</li>
    </ul>
</article>